*.dll
*.pdb
*.cache
EFAutoRefresh/obj/Debug/EFAutoRefresh.Properties.Resources.resources
EFAutoRefresh/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EFAutoRefresh/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EFAutoRefresh/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EFAutoRefresh/obj/Debug/EFAutoRefresh2012.csproj.FileListAbsolute.txt
EFAutoRefresh/bin/Debug/EFAutoRefresh.dll.config
EFAutoRefresh/bin/Debug/EntityFramework.xml
packages/EntityFramework.5.0.0/Content/App.config.transform
packages/EntityFramework.5.0.0/Content/Web.config.transform
MyChat/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyChat/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyChat/obj/Debug/MyChat_MarkupCompile.lref
MyChat/obj/Debug/MyChat_MarkupCompile.i.lref
MyChat/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyChat/obj/Debug/MyChat.g.resources
MyChat/obj/Debug/MyChat.exe
MyChat/obj/Debug/MyChat.csproj.FileListAbsolute.txt
*.exe
packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
MyChat/obj/Debug/MainWindow.g.cs
MyChat/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
MyChat/obj/Debug/GeneratedInternalTypeHelper.g.cs
MyChat/obj/Debug/App.g.i.cs
MyChat/obj/Debug/MainWindow.baml
MyChat/obj/Debug/App.g.cs
MyChat/obj/Debug/MainWindow.g.i.cs
MyChat/obj/Debug/MyChat.Properties.Resources.resources
packages/EntityFramework.5.0.0/tools/init.ps1
packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.5.0.0/tools/EntityFramework.PS3.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
packages/EntityFramework.5.0.0/tools/install.ps1
packages/EntityFramework.5.0.0/tools/Redirect.config
packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
MyChat/bin/Debug/EntityFramework.xml
MyChat/bin/Debug/MyChat.exe.config
MyChat/bin/Debug/MyChat.vshost.exe.config
MyChat/bin/Debug/MyChat.vshost.exe.manifest
/.vs/EFAutoRefresh/v14/.suo
/MyChat/bin
/MyChat/obj
/EFAutoRefresh/obj
/EFAutoRefresh/bin
